.card {
/* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 500px;
    margin: 5px;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    border-radius: 25px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
padding: 2px 16px;
}

.monthly-stats {
    margin: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.heading {
    margin: 15px;
    text-align: center;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
}


.card-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.add-img{
    width: 40px;
    height: 40px;
}

.add-div{
    float: right;
    margin-right: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.add-div:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
    
.add-account-btn {
    font-size: 20px;
}

.create-account-button{
    margin-top: 15px;
}