{% extends 'base.html' %}

{% block title %}Homepage{% endblock title  %}
{% block extra_css %}
    <link rel="stylesheet" href="/static/css/common.css">
{% endblock extra_css %}
{% block content %}
    <div class="heading">
        <span>Accounts</span>
    </div>
    <div class="monthly-stats">
        {% for account  in accounts  %}
            <div class="card accounts">
                <img src="{{ CLOUD_FRONT_HOST }}{{ account.logo }}" alt="" height="150" width="200px">
                <div class="container">
                    <span class="card-text">{{account.name}}</span>
                    <span class="card-text">&#8377; {{account.balance}}</span>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="add-div">
        <button type="button" class="btn btn-outline-primary add-account-btn"><img class="add-img" src="/static/images/plus.png"></img>Add Account</button>
    </div>
    
    <!-- Modal -->
    <div id="addAccountModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal Content -->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Account</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <div class="modal-body">
                    <form id="AH_CreateAccountForm">
                        <label for="name">Account Name</label>
                        <input type="text" name="name" id="AH_AccountName" class="form-control">
                        <label for="balance"> Initial Balance</label>
                        <input type="number" name="name" id="AH_AccountBalance" class="form-control">
                        <label for="logo">Logo</label>
                        <input type="file" name="" id="AH_AccountLogo" class="form-control">
                        <button class="btn btn-primary create-account-button">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="/static/js/accounts.js"></script>
{% endblock extra_js %}