{% extends 'base.html' %}

{% block title %}Dashboard{% endblock title  %}
{% block extra_css %}
    <link rel="stylesheet" href="/static/css/common.css">
{% endblock extra_css %}
{% block content %}
    <div class="heading">
        <span>Monthly Stats</span>
    </div>
    <div class="monthly-stats">
        <div class="card income">
            <img src="/static/images/58-512.png" alt="" height="200px" width="200px">
            <div class="container">
                <span class="card-text">Income &#8377;85,000</span>
            </div>
        </div>
        <div class="card expenses">
            <img src="/static/images/spending.png" alt="" height="200px" width="200px">
            <div class="container">
                <span class="card-text">Expenses &#8377;85,000</span>
            </div>
        </div>
        <div class="card investment">
            <img src="/static/images/investment.png" alt="" height="200px" width="200px">
            <div class="container">
                <span class="card-text">Investments &#8377;85,000</span>
            </div>
        </div>
    </div>
{% endblock content %}