{% extends 'base.html' %}

{% block title %}Transactions{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/transactions.css">
{% endblock extra_css %}


{% block content %}
<div class="transactions-list">
    <h3 style="text-align: center;">Transactions</h3>
    <div class="filters">
        Filters
    </div>
    <div class="results">
        Results
    </div>
</div>

<div class="add-transaction">
    <div class="add-div">
        <button type="button" class="btn btn-outline-primary add-account-btn add-transaction-btn"><img class="add-img" src="/static/images/plus.png"></img>Add Transaction</button>
    </div>
    <div id="addAccountModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal Content -->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Transaction</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <div class="modal-body">
                    <form id="AH_CreateAccountForm">
                        <label for="name">Amount</label>
                        <input type="text" name="name" id="AH_AccountName" class="form-control">
                        <label for="balance"> Description</label>
                        <input type="number" name="name" id="AH_AccountBalance" class="form-control">
                        <button class="btn btn-primary create-account-button">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
    <script src="/static/js/transactions.js"></script>
{% endblock extra_js %}